body {
    margin: 0;
    font-family: Inter, sans-serif;
    height: 100vh;
    background-color: #245097;
}

.main{
    padding: 30px;
    width: 300px;
}

.box{
    height: 70px;
    width: 70px;
    display: inline-block;
    margin: 4px;
    border-radius: 9px;
    border: 5px solid white;
}